/* GENERAL */

main {
	padding-top: 40px;
}

section {
    padding: 50px;
}

a {
    transition: color 0.5s ease;
}

a:hover {
    color: #f6b93b;
}

/* HEADER */

#menu-button {
    display: none;
}

#menu-768 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
	justify-content: center;
    padding: 5px;
}

#menu {
    display: none;
}

.menu-star {
    color: #fad390;
}

#menu-768 p {
    margin: 10px;
}

#menu-768 a {
    text-decoration: none;
    color: #3c6382;
}

#menu-768 a:hover {
    color: #f6b93b;
}

/* SECTION HOME */

#home {
    background: url("../assets/img/bed-768px.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    text-align: left;
}

#home div {
    padding: 200px 0 0 100px;
}

/* POST */

#post {
    padding: 0 100px 0 100px;
}

/* FOOTER */

.footer-icon-svg {
    transition: fill 0.5s ease;
}

.footer-icon-svg:hover {
    fill: #f6b93b;
}