/* GENERAL */

*, :after, :before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
    font-family: 'Rubik', sans-serif;
    color: #34495e;
}

body {
    margin: 0;
}

section {
    padding: 30px;
    text-align: center;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    line-height: 48px;
    margin: 10px 0px 20px 0px;
    color: #3c6382;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
	background-color: white;
    height: 55px;
	z-index: 1;
}

#menu-button {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    fill: black;
}

#menu {
    display: none;
	flex-direction: column;
	justify-content: flex-end;
    padding: 70px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: right;
}

#menu-768 {
    display: none;
}

#menu p {
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: white;
}

/* SECTION HOME */

#home {
    background: url("../assets/img/bed.JPG") no-repeat center center fixed;
    background-size: cover;
    height: 500px;
}

#home div {
    padding: 200px 0 0 20px;
}

/* SECTION SERVICES */

#services {
    background-color: white;
}

#services #services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-group {
    margin: 10px;
    border: 1px solid #60a3bc;
    border-radius: 20px;
}

#gift-certificate {
    width: 40%;
    border: 1px solid #60a3bc;
    border-radius: 20px;
    margin: 10px auto 10px auto;
    background-color: #ffe6c8;
}

#gift-certificate a {
    text-decoration: none;
    color: #3c6382;
}

#find-service {
    width: 40%;
    border: 1px solid #60a3bc;
    border-radius: 20px;
    margin: 10px auto 10px auto;
}

#find-service a {
    text-decoration: none;
    color: #3c6382;
}

/* SECTION ABOUT */

#about {
    background-color: #ffe6c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about div {
    width: 100%;
}

#about-content {
    text-align: left;
}

#about img {
    width: 100%;
}

/* SECTION FEEDBACK */

#feedback {
    background-color: white;
}

.photos {
    margin-left: 25px;
    margin-right: 25px;
  }
  
.photos img {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid grey;
}
  
#gallery {
    padding-bottom: 20px;
}

/* SECTION COURSE */

#course {
    background-color: #ffe6c8;
}

/* SECTION STUFF */

#stuff {
    background-color: #adc0c7;
}

#stuff-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#stuff-content div {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

/* SECTION CONTACTS */

#contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contacts-content div {
    margin: 0px 20px 0 20px;
    text-align: left;
    width: 300px;
}

.contacts-row a {
    margin: 0 0 0 5px;
    color: #3c6382;
    font-weight: 800;
}

.contacts-icon {
    height: 30px;
    vertical-align: middle;
    fill: #3c6382;
}

.contacts-icon-a {
    text-decoration: none;
}


/* FOOTER */

footer {
    width: 100%;
    text-align: center;
    background-color: #645a50;
    padding: 10px 0 10px 0;
    color: white;
}

footer a {
    color: white;
    font-weight: 800;
}

.footer-icon-a {
    text-decoration: none;
    margin: 0 5px 0 5px;
}

.footer-icon-svg {
    width: 30px;
    fill: white;
}