/* GENERAL */

main {
	padding-top: 40px;
}

section {
    padding: 50px;
}

a {
    transition: color 0.5s ease;
}

a:hover {
    color: #f6b93b;
}

/* HEADER */

#menu-button {
    display: none;
}

#menu-768 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
	justify-content: center;
    padding: 5px;
}

#menu {
    display: none;
}

.menu-star {
    color: #fad390;
}

#menu-768 p {
    margin: 10px;
}

#menu-768 a {
    text-decoration: none;
    color: #3c6382;
}

#menu-768 a:hover {
    color: #f6b93b;
}

/* SECTION HOME */

#home {
    background: url("../assets/img/bed-768px.JPG") no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    text-align: left;
}

#home div {
    padding: 200px 0 0 100px;
}

/* SECTION SERVICES */

#services {
    background-color: white;
}

#services-content {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

#gift-certificate {
    width: 40%;
}

#find-service {
    width: 40%;
}

.service-group {
    width: 30%;
}

.service-button {
    cursor: pointer;
    transition: color 0.5s ease;
}

.service-button:hover {
    color: #fad390;
}

/* SECTION ABOUT */

#about {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#about div {
    padding: 0px 50px 0px 50px;
    width: 500px;
}

#about img {
    width: 500px;
}

/* SECTION FEEDBACK */

.photos {
    margin-left: 100px;
    margin-right: 100px;
  }

/* SECTION COURSE */

/* SECTION BLOG */

#blog-content {
    flex-direction: row;
    align-items: flex-start;
}

.blog-preview {
    margin: 10px;
    padding: 20px;
    width: 30%;
}

/* SECTION CONTACTS */

#contacts-content {
    flex-direction: row;
}

#contacts-content div {
    margin: 0px 20px 0 20px;
    width: 300px;
}

.contacts-icon {
    transition: fill 0.5s ease;
}

.contacts-icon:hover {
    fill: #f6b93b;
}

/* FOOTER */

.footer-icon-svg {
    transition: fill 0.5s ease;
}

.footer-icon-svg:hover {
    fill: #f6b93b;
}