/* GENERAL */

*, :after, :before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
    font-family: 'Rubik', sans-serif;
    color: rgba(60, 100, 130, 1);
}

body {
    margin: 0px;
    font-size: 1em;
}

a {
    color: #3c6382;
    font-weight: 800;
}

section {
    padding: 50px 20px 20px 20px;
    text-align: center;
    width: 100%;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    margin: 10px 0px 20px 0px;
    color: rgba(60, 100, 130, 1);
}

ul {
    list-style-type: circle;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
	background-color: white;
    height: 55px;
	z-index: 1;
}

#menu-button {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    fill: #636e72;
}

#menu {
    display: none;
	flex-direction: column;
	justify-content: flex-end;
    padding: 70px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: right;
}

#menu-768 {
    display: none;
}

#menu p {
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: white;
}

.service-register-button {
    text-align: center;
    margin: 20px 40px 30px 40px;
    padding: 20px;
    background-color: rgba(60, 100, 130, 0.7);
}

.service-register-button a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

/* SECTION HOME */

#home {
    background-size: cover;
    height: 500px;
    text-align: left;
}

#home div {
    padding: 200px 0 0 20px;
}

/* SECTION SERVICES */

#services {
    background-color: white;
}

#services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gift-certificate {
    border: 1px solid rgba(60, 100, 130, 0.3);
    margin: 10px auto 10px auto;
}

#gift-certificate a {
    text-decoration: none;
    color: #3c6382;
}

#find-service {
    border: 1px solid rgba(60, 100, 130, 0.3);
    margin: 10px auto 10px auto;
}

#find-service a {
    text-decoration: none;
}

.service-group {
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}

.service-group h3 {
    font-family: 'Amatic SC', cursive;
    color: rgba(60, 100, 130, 0.9);
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    padding: 10px 0px 40px 0px;
    margin: 0px;
}

.service {
    border: none;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    text-align: left;
}

.service-icon {
    height: 100px;
    margin: 20px 0px 0px 0px;
    stroke: rgba(60, 100, 130, 0.7);
}

.service-star {
    text-align: center;
    color: #fad390;
}

.service h4 {
    text-align: center;
    margin: 0px;
    font-size: 1.1em;
    font-weight: 400;
}

.service-price {
    font-weight: 800;
}

#course-price {
    margin: 40px 0px 40px 0px;
}

.service-button {
    text-align: center;
    margin: 30px 0 30px 0;
}

/* SECTION ABOUT */

#about {
    background-color: #ffe6c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-content {
    text-align: left;
}

#about img {
    width: 100%;
}

/* SECTION FEEDBACK */

#feedback {
    background-color: white;
}

.photos {
    margin-left: 25px;
    margin-right: 25px;
  }
  
.photos img {
    width: 100%;
    padding: 0px 10px 0 10px;
}
  
#gallery {
    padding-bottom: 20px;
}

/* SECTION COURSE */

#course {
    background-color: #ffe6c8;
}

#course-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

#course-content div {
    margin: 0 30px 0 30px;
}

/* SECTION BLOG */

#blog {
    background-color: rgba(60, 100, 130, 0.3);;
}

#blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-preview {
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.blog-preview-content {
    text-align: left;
}

.blog-preview-more {
    margin-top: 20px;
}

/* SECTION CONTACTS */

#contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacts-content div {
    text-align: left;
}

.contacts-row a {
    margin: 0 0 0 5px;
}

.contacts-icon {
    height: 30px;
    vertical-align: middle;
    fill: rgba(60, 100, 130, 1);
}

.contacts-icon-a {
    text-decoration: none;
}

/* FOOTER */

footer {
    width: 100%;
    text-align: center;
    background-color: #645a50;
    padding: 10px 0 10px 0;
    color: white;
}

footer a {
    color: white;
    font-weight: 800;
}

.footer-icon-a {
    text-decoration: none;
    margin: 0 5px 0 5px;
}

.footer-icon-svg {
    width: 30px;
    fill: white;
}