/* GENERAL */

main {
	padding-top: 40px;
}

section {
    padding: 50px;
}

/* HEADER */

#menu-button {
    display: none;
}

#menu-768 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
	justify-content: center;
    padding: 5px;
}

#menu {
    display: none;
}

.menu-star {
    color: #fad390;
}

#menu-768 p {
    margin: 10px;
}

#menu-768 a {
    text-decoration: none;
    transition: color 0.5s ease;
    color: #3c6382;
}

#menu-768 a:hover {
    color: #f6b93b;
}

/* SECTION HOME */

#home {
    background: url("../assets/img/bed-768px.JPG") no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    text-align: left;
}

#home div {
    padding: 200px 0 0 100px;
}

/* SECTION SERVICES */

#services {
    background-color: white;
}

#services #services-content {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.service-group {
    width: 30%;
    text-align: left;
}

.service-group h3 {
    text-align: center;
}

.service {
    border: none;
    margin: 0px;
    padding: 0px 0px 0 5px;
}

.service h4 {
    text-align: center;
}

.service-star {
    text-align: center;
    color: #fad390;
}

.service-button {
    text-align: center;
}

.gift-certificate {
    width: 40%;
    border: 1px solid #60a3bc;
    border-radius: 20px;
    margin: 10px auto 10px auto;
    background-color: #ffe6c8;
}

.gift-certificate a {
    text-decoration: none;
    color: #3c6382;
}

/* SECTION ABOUT */

#about {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#about div {
    padding: 0px 50px 0px 50px;
    width: 500px;
}

#about img {
    width: 500px;
}

/* SECTION FEEDBACK */

.photos {
    margin-left: 100px;
    margin-right: 100px;
  }

/* SECTION COURSE */

/* SECTION STUFF */

#stuff-content {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#stuff-content div {
    margin: 0 20px 0 20px;
}

/* SECTION CONTACTS */

.contacts-row a {
    transition: color 0.5s ease;
}

.contacts-row a:hover {
    color: #f6b93b;
}

.contacts-icon {
    transition: fill 0.5s ease;
}

.contacts-icon:hover {
    fill: #f6b93b;
}

/* FOOTER */