---
title: Ольга Мырсикова
---

<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style-768px.css" media="screen and (min-width:768px)">

		<!-- Feedback Gallery -->
		<link rel="stylesheet" type="text/css" href="lib/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css"/>
		<script type="text/javascript" src="lib/jquery-3.1.1.min.js"></script>

		<!-- Smooth Scrolling -->
		<script>
		$(document).on('click', 'a[href^="#"]', function (event) {
			event.preventDefault();
			
			$('html, body').animate({
				scrollTop: $($.attr(this, 'href')).offset().top
			}, 500);
		});
		</script>

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#FFFFFF">

		<link rel="manifest" href="/manifest.json">

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- SEO -->
		<meta name="description" content="">
		<meta property="og:url" content="https://sleep-consult.ru/">
		<meta property="og:title" content="Ольга Мырсикова | Консультант по детскому сну">
		<meta property="og:description" content="">
		<meta property="og:image" content="https://sleep-consult.ru/assets/favicons/preview.jpg"/>
		<meta property="og:locale" content="ru-RU"/>

	</head>
	<body>

		{% include header.html %}

		<main>

           	{% include home.html %}
        
            {% include services.html %}
        
            {% include about.html %}
        
            {% include feedback.html %}
        
            {% include course.html %}
        
            {% include contacts.html %}
        
            {% include blog.html %}
        
        </main>

		{% include footer.html %}

	</body>
</html>