<section id="course">
    <h2>Курс по сну SON-ON</h2>
    
    <div id="course-content">

        <div>

        <p>Это моя авторская программа, главная цель которой - научить ребенка спать самостоятельно и облегчить жизнь родителей.</p>

        <h4>С чем сталкивается большинство родителей каждый день?</h4>
        <ul>
            <li>ребенок часто просыпается по 6-8 раз за ночь</li>
            <li>ребенок засыпает только в кровати с родителями</li>
            <li>ребенок засыпает только с грудью</li>
            <li>бесконечные укачивания</li>
            <li>ребенок долго не может уснуть</li>
            <li>у ребенка нет режима</li>
            <li>ребенок не умеет продлевать сны ни днем ни ночью</li>
        </ul>

        <h4>Что получит родитель?</h4>
        <ul>
            <li>возможность планировать свой день</li>
            <li>спать всю ночь без лишних пробуждений</li>
            <li>убрать часовые укачивания и висение на груди</li>
            <li>родители снова спят в одной кровати, а не по разным комнатам</li>
            <li>свободные вечера для себя и своих желаний</li>
            <li>веселого, хорошо отдыхающего малыша, который спит в своей кроватке</li>
        
        </ul>

        </div>
        <div>

        <h4>Что включено в курс?</h4>
        <ul>
            <li>6 часов лекционного материала</li>
            <li>28 дней ежедневная обратная связь через групповой чат</li>
            <li>4 групповые встречи с Ольгой Мырсиковой</li>
            <li>5 методик на любой вкус (эффективность и безопасность подтверждена надежными исследованиями в области детского сна и привязанности)</li>
            <li>чат-болталка с другими родителями</li>
            <li>возможность подключения личной поддержки консультанта по сну через дневник сна или личный звонок</li>
        </ul>
        
        <h4>доступ к курсу в любое удобное для Вас время суток</h4>
        <h4>материалы курса остаются у Вас навсегда</h4>
        <h4>все лекции в записи</h4>
        <h4>ежедневная обратная связь и поддержка в чате</h4>

        <h3>Курс Son-ON подходит для деток от 4 месяцев от ПДР до 18 месяцев</h3>

        <h3>Стоимость курса Son-On 65 € / 5500 ₽</h3>

        </div>

    </div>

    <p class="service-register-button">
        <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
            зарегистрироваться
        </a>
    </p>
    
</section>