<section id="feedback">
    <h2>Отзывы</h2>

    <div id="feedback-content">
        {% for index in (1..25) %}
        
        <!--
        <picture>
            <source srcset="assets/feedback/feedback-{{ index }}.webp" type="image/webp">
            <source srcset="assets/feedback/feedback-{{ index }}.jpg" type="image/jpeg">
            <img class="feedback-screenshot" src="assets/feedback/feedback-{{ index }}.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/>
        </picture>
        -->
        
        <img class="feedback-screenshot" src="assets/feedback/feedback-{{ index }}.jpg" loading="lazy" alt="Отзыв о работе с Ольгой Мырсиковой"/>
        {% endfor %}
    </div>

    <div class="instagram-more">
        <a href="https://www.instagram.com/stories/highlights/17907375067945995/" target="_blank">
            <h3>читать больше в Инстаграм</h3>
        </a>
    </div>

    <picture>
        <source srcset="assets/img/crib-300px.webp" type="image/webp">
        <source srcset="assets/img/crib-300px.png" type="image/png">
        <img src="assets/img/crib-300px.png" loading="lazy" alt="Детская кроватка" style="width: 300px; height: 300px; margin: 40px 0px 40px 0px;">
    </picture>

    <script src="lib/jquery-3.1.1.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#feedback-content").slick({
                lazyLoad: 'ondemand',
                dots: false,
                mobileFirst: true,
                centerMode: true,
                slidesToScroll: 1,
                responsive: [
                {
                    breakpoint: 1350,
                    settings: {
                        slidesToShow: 3
                        }
                    },
                    {
                    breakpoint: 1000,
                    settings: {
                        slidesToShow: 2
                        }
                    }
                ]
            });
        });
    </script>
</section>