<section id="feedback">
    <h2>Отзывы</h2>

    <div id="feedback-content">
        <div class="photos">
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-1.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-2.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-3.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-4.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-5.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-6.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-7.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-8.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-9.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-10.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-11.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-12.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-13.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-14.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-15.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-16.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-17.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-18.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-19.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-20.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-21.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-22.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-23.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-24.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
            <div class="feedback-screenshot"><img src="assets/feedback/feedback-25.jpg" alt="Отзыв о работе с Ольгой Мырсиковой"/></div>
        </div>
    </div>

    <img style="width: 300px; margin: 40px 0px 40px 0px;" src="assets/icon/crib.png" alt="Детская кроватка"/>

    <script type="text/javascript" src="lib/slick/slick.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.photos').slick({
                lazyLoad: 'ondemand',
                dots: true,
                mobileFirst: true,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        lazyLoad: 'ondemand',
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        dots: true,
                        centerMode: true
                    }
                }]
            });
        });
    </script>
</section>