<header>

  <script>
    function toggleMenu() {
      var x = document.getElementById("menu");
      if (x.style.display === "none") {
        x.style.display = "flex";
      } else {
        x.style.display = "none";
      }
    }

    function closeMenu() {
      document.getElementById("menu").style.display = "none";
    }

  </script>

  <nav>

    <input id="menu-button" onClick="toggleMenu()" type="image" src="../assets/menu.svg" />

    <div id="menu-768">
      <p><a href="#services">Услуги</a></p>
      <p class="menu-star">&starf;</p>
      <p><a href="#about">Обо мне</a></p>
      <p class="menu-star">&starf;</p>
      <p><a href="#feedback">Отзывы</a></p>
      <p class="menu-star">&starf;</p>
      <p><a href="#course">Курс по сну SON-ON</a></p>
      <p class="menu-star">&starf;</p>
      <p><a href="#stuff">Полезные статьи</a></p>
      <p class="menu-star">&starf;</p>
      <p><a href="#contacts">Контакты</a></p>
    </div>

    <div id="menu">
      <p><a onClick="closeMenu()" href="#services">Услуги</a></p>
      <p><a onClick="closeMenu()" href="#about">Обо мне</a></p>
      <p><a onClick="closeMenu()" href="#feedback">Отзывы</a></p>
      <p><a onClick="closeMenu()" href="#course">Курс по сну SON-ON</a></p>
      <p><a onClick="closeMenu()" href="#stuff">Полезные статьи</a></p>
      <p><a onClick="closeMenu()" href="#contacts">Контакты</a></p>
    </div>
    
  </nav>

</header>