<section id="services">
    
    <h2>Услуги</h2>

    <div id="gift-certificate">
        <a href="https://docs.google.com/forms/d/16mzW6SfamV67geHuQELxgUd7UcKbNXNTGs4Mm29cv3o/viewform?edit_requested=true" target="_blank">
            <h3>&#9758; подарочный сертификат &#9756;</h3>
        </a>
    </div>

    <div id="find-service">
        <a href="" target="_blank">
            <h3>подобрать услугу</h3>
        </a>
    </div>

    <div id="services-content">

        <div class="service-group">
            <h3>0—4 месяца</h3>

            <div class="service">
                <h4>Звонок 30 минут 15€ / 1350₽</h4>
                <ul>
                    <li>отвечу на все Ваши вопросы</li>
                    <li>помогу сориентироваться и понять, что делать дальше</li>
                    <li>дам четкие рекомендации по наладке сна</li>
                </ul>
            </div>

            <p class="service-register-button">
                <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                    зарегистрироваться
                </a>
            </p>

            <p class="service-button" id="under-4-months-more" onClick="toggleUnder4Months()">ЕЩЁ &darr;</p>

            <div id="under-4-months" style="display: none;">

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Звонок 15 минут / бесплатно</h4>
                    <ul>
                        <li>услуга доступна только для пап/партнеров</li>
                        <li>можно воспользоваться только 1 раз</li>
                        <li>обсудим проблемы со сном малыша и разберемся, как их решить</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Письмо консультанту / бесплатно</h4>
                    <ul>
                        <li>опишите Вашу ситуацию и задайте любые вопросы</li>
                        <li>отвечу в течении 3х рабочих дней на электронную почту</li>
                        <li>можно воспользоваться только 1 раз</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-button" id="under-4-months-hide" onClick="toggleUnder4Months()" style="display: none;">СВЕРНУТЬ &uarr;</p>

            </div>

        </div>

        <div class="service-group">
            <h3>4—18 месяцев</h3>

            <div class="service">
                <h4>Курс Son-ON  65€ / 5500₽</h4>
                <ul>
                    <li>учим спать самостоятельно</li>
                    <li><a href="#course">подробнее о курсе</a></li>
                </ul>
            </div>

            <p class="service-register-button">
                <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                    зарегистрироваться
                </a>
            </p>

            <p class="service-button" id="under-18-months-more" onClick="toggleUnder18Months()">ЕЩЁ &darr;</p>

            <div id="under-18-months" style="display: none;">

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Пакет «Что не так?» 25€ / 2250₽</h4>
                    <ul>
                        <li>если Вы запутались и не можете найти причину проблем</li>
                        <li>если Вы еще не желаете учить самостоятельному сну, но соблюдаете все правила укладывания, а «оно не едет»</li>
                        <li>если малыш спит сам, но что-то поломалось</li>
                        <li>в пакет входит 3 суток работы в Дневнике сна с консультантом</li>
                        <li>при желании можно продлить на любое количество суток по цене 6€ / 550₽ в сутки</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Звонок 30 минут 15€ / 1350₽</h4>
                    <ul>
                        <li>отвечу на все Ваши вопросы</li>
                        <li>помогу сориентироваться и понять, что делать дальше</li>
                        <li>дам четкие рекомендации по наладке сна</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Индивидуальный пакет «VIP» 125€ / 10700₽</h4>
                    <ul>
                        <li>детально проанализирую текущую ситуацию со сном Вашего малыша, расскажу обо всех аспектах организации сна, помогу с выбором методики и проконтролирую работу, чтобы все прошло без ошибок и максимально гладко.</li>
                        <li>живая консультация 1,5ч план работы в методике видео-запись консультации звонок 30 мин</li>
                        <li>план по режиму и гигиене сна</li>
                        <li>поддержка работы в методике по Дневнику сна в течение 7 дней</li>
                        <li>при желании Дневник может быть продлен на любое количество суток по цене 6€ / 550₽ в сутки</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Звонок 15 минут / бесплатно</h4>
                    <ul>
                        <li>услуга доступна только для пап/партнеров</li>
                        <li>можно воспользоваться только 1 раз</li>
                        <li>обсудим проблемы со сном малыша и разберемся, как их решить</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Письмо консультанту / бесплатно</h4>
                    <ul>
                        <li>опишите Вашу ситуацию и задайте любые вопросы</li>
                        <li>отвечу в течении 3х дней на электронную почту</li>
                        <li>можно воспользоваться только 1 раз</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-button" id="under-18-months-hide" onClick="toggleUnder18Months()" style="display: none;">СВЕРНУТЬ &uarr;</p>

            </div>

        </div>

        <div class="service-group">
            <h3>старше 18 месяцев</h3>

            <div class="service">
                <h4>Пакет «Что не так?» 25€ / 2250₽</h4>
                <ul>
                    <li>если Вы запутались и не можете найти причину проблем</li>
                    <li>если Вы еще не желаете учить самостоятельному сну, но соблюдаете все правила укладывания, а «оно не едет»</li>
                    <li>если малыш спит сам, но что-то поломалось</li>
                    <li>в пакет входит 3 суток работы в Дневнике сна с консультантом</li>
                    <li>при желании можно продлить на любое количество суток по цене 6€ / 550₽ в сутки</li>
                </ul>
            </div>

            <p class="service-register-button">
                <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                    зарегистрироваться
                </a>
            </p>

            <p class="service-button" id="over-18-months-more" onClick="toggleOver18Months()">ЕЩЁ &darr;</p>

            <div id="over-18-months" style="display: none;">

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Звонок 30 минут 15€ / 1350₽</h4>
                    <ul>
                        <li>отвечу на все Ваши вопросы</li>
                        <li>помогу сориентироваться и понять, что делать дальше</li>
                        <li>дам четкие рекомендации по наладке сна</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Индивидуальный пакет «VIP» 125€ / 10700₽</h4>
                    <ul>
                        <li>детально проанализирую текущую ситуацию со сном Вашего малыша, расскажу обо всех аспектах организации сна, помогу с выбором методики и проконтролирую работу, чтобы все прошло без ошибок и максимально гладко</li>
                        <li>живая консультация 1,5ч план работы в методике видео-запись консультации звонок 30 мин</li>
                        <li>план по режиму и гигиене сна</li>
                        <li>поддержка работы в методике по Дневнику сна в течение 7 дней</li>
                        <li>при желании Дневник может быть продлен на любое количество суток по цене 6€ / 550₽ в сутки</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Звонок 15 минут / бесплатно</h4>
                    <ul>
                        <li>услуга доступна только для пап/партнеров</li>
                        <li>можно воспользоваться только 1 раз</li>
                        <li>обсудим проблемы со сном малыша и разберемся, как их решить</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-star">&starf;</p>

                <div class="service">
                    <h4>Письмо консультанту / бесплатно</h4>
                    <ul>
                        <li>опишите Вашу ситуацию и задайте любые вопросы</li>
                        <li>отвечу в течении 3х дней на электронную почту</li>
                        <li>можно воспользоваться только 1 раз</li>
                    </ul>
                </div>

                <p class="service-register-button">
                    <a href="https://docs.google.com/forms/d/17yRNStsFhw-bvBznGmv_Dw1sce3Nim4OT_P3-vWNdrg/viewform?edit_requested=true" target="_blank">
                        зарегистрироваться
                    </a>
                </p>

                <p class="service-button" id="over-18-months-hide" onClick="toggleOver18Months()" style="display: none;">СВЕРНУТЬ &uarr;</p>

            </div>

        </div>
    </div>
    
</section>

<script>
    
    function toggleUnder4Months() {
      var menu = document.getElementById("under-4-months");
      var moreButton = document.getElementById("under-4-months-more");
      var hideButton = document.getElementById("under-4-months-hide");
      if (menu.style.display === "none") {
        menu.style.display = "block";
        moreButton.style.display = "none";
        hideButton.style.display = "block";
      } else {
        menu.style.display = "none";
        moreButton.style.display = "block";
        hideButton.style.display = "hide";
        jumpToServices();
      }
    }

    function toggleUnder18Months() {
      var menu = document.getElementById("under-18-months");
      var moreButton = document.getElementById("under-18-months-more");
      var hideButton = document.getElementById("under-18-months-hide");
      if (menu.style.display === "none") {
        menu.style.display = "block";
        moreButton.style.display = "none";
        hideButton.style.display = "block";
      } else {
        menu.style.display = "none";
        moreButton.style.display = "block";
        hideButton.style.display = "hide";
        jumpToServices();
      }
    }

    function toggleOver18Months() {
      var menu = document.getElementById("over-18-months");
      var moreButton = document.getElementById("over-18-months-more");
      var hideButton = document.getElementById("over-18-months-hide");
      if (menu.style.display === "none") {
        menu.style.display = "block";
        moreButton.style.display = "none";
        hideButton.style.display = "block";
      } else {
        menu.style.display = "none";
        moreButton.style.display = "block";
        hideButton.style.display = "hide";
        jumpToServices();
      }
    }

    function jumpToServices()    {
        var url = location.href;
        location.href = "#services";
        history.replaceState(null,null,url);
    }

</script>