<section id="stuff">
    <h2>Полезные статьи</h2>
    
    <div id="stuff-content">

        <div>
            <h3>Статья 1</h3>
            <p>Текст первой статьи</p>
        </div>

        <div>
            <h3>Статья 2</h3>
            <p>Текст второй статьи</p>
        </div>

        <div>
            <h3>Статья 3</h3>
            <p>Текст третьей статьи</p>
        </div>

        <div>
            <h3>Статья 4</h3>
            <p>Текст четвертой статьи</p>
        </div>

    </div>
</section>