<section id="webinars">
    
    <h2>Вебинары</h2>

    <div id="webinars-content">

        <div class="webinar">
            <h3>Вебинар «Сон в 0—4 месяца» <span class="webinar-price">25€ / 2750₽</span></h3>
            <p>Вы ожидаете появления первого ребенка и хотите знать, чего ожидать в первые месяцы его жизни?</p>
            <p>В этом вебинаре я помогу Вам разобраться со всеми нюансами сна детей в раннем младенчестве. Вы узнаете:</p>
            <ul>
                <li>как развивается сон в возрасте 0-4 месяцев</li>
                <li>как понять, что малышу надо поспать</li>
                <li>когда начинать укладывать и как укладывать</li>
                <li>какие периоды будут самыми сложными и как их преодолеть</li>
                <li>пеленать или нет? качать или нет? давать пустышку или нет?</li>
                <li>режим дня, как и когда его выстраивать</li>
                <li>как прийти к 4 месяцам без негативных ассоциаций на сон</li>
                <li>тренировки сна: когда начинать и как правильно проводить</li>
            </ul>
            <p>Состав вебинара: видео 100 минут + конспект рекомендаций.</p>
            <p class="webinar-register-button">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdUgPZMK1iudeKrnitC2NSZf2kmDzRM_PoShSp0G5B1ypN6dw/viewform?usp=sharing" target="_blank">
                    зарегистрироваться
                </a>
            </p>
        </div>

        <div class="webinar">
            <h3>Вебинар «Сон в поездках» <span class="webinar-price">20€ / 2200₽</span></h3>
            <p>Вы собрались в поездку и с ужасом думаете об укладываниях в машине/аэророрте/транспорте/в отеле? Или Вы обучили ребенка спать самостоятельно и переживаете за укладывания дома у родителей/друзей?</p>
            <p>Этот вебинар снимет все тревоги, я поделюсь своими самыми сокровенными секретами об организации сна в поездках. Вы узнаете:</p>
            <ul>
                <li>что взять с собой</li>
                <li>в какое время суток лучше стартовать</li>
                <li>как укладывать накануне поездки</li>
                <li>чего ожидать от ребенка в такси/аэропорте/машине и как там спать</li>
                <li>как сделать сон малыша в транспорте более комфортным</li>
                <li>стратегия укладывания на новом месте</li>
                <li>личные лайфхаки и супер-полезные советы, которых Вы не найдете больше нигде</li>
                <li>страшно ли, если отпуск поломал малышу сон, и как поступать дома по приезду</li>
            </ul>
            <p>Состав вебинара: видео 65 минут + конспект рекомендаций.</p>
            <p>Вы можете мне доверять: за первый год жизни моей дочери мы посетили более 12 стран!</p>
            <p class="webinar-register-button">
                <a href="https://docs.google.com/forms/d/17FIILiLQtElxRg5g5vYErx9bMYCZ4hnjVmncrFL98ms/edit" target="_blank">
                    зарегистрироваться
                </a>
            </p>
        </div>
    
    </div>
    
</section>