---
---

<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style-768px.css" media="screen and (min-width:768px)">

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Feedback Gallery -->
		<link rel="stylesheet" type="text/css" href="lib/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="lib/slick/slick-theme.css"/>
		<script type="text/javascript" src="lib/jquery-3.1.1.min.js"></script>

		<!-- Smooth Scrolling -->
		<script>
		$(document).on('click', 'a[href^="#"]', function (event) {
			event.preventDefault();
			
			$('html, body').animate({
				scrollTop: $($.attr(this, 'href')).offset().top
			}, 500);
		});
		</script>


	</head>
	<body>

		{% include header.html %}

		{{ content }}

		{% include footer.html %}

	</body>
</html>