---
---

<!DOCTYPE html>
<html lang="ru-RU">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		
		<!-- SEO -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/assets/favicons/favicon-16x16.png">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#FFFFFF">

		<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/manifest.json">

		<meta name="description" content="{{ post.excerpt }}"/>
		<meta property="og:url" content="{{ post.url | prepend: site.baseurl | prepend: site.url }}"/>
		<meta property="og:type" content="article"/> 
		<meta property="og:title" content="{{ page.title }} | Ольга Мырсикова"/>
		<meta property="og:description" content="{{ post.excerpt }}"/>
		<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/preview.png"/>
		<meta property="og:image:width" content="1080"/>
		<meta property="og:image:height" content="721"/>
		<meta property="og:locale" content="ru-RU"/>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/style.css">

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">

	</head>
	<body>
		
		{% include header-post.html %}

		{% include home.html %}

		<main>

			<div id="post">
				<h1 id="post-title">{{ page.title }}</h1>
				
				<div id="post-content">
					{{ content }}
				</div>
			</div>

			<div id="back">
				<a href="{{ site.url }}{{ site.baseurl }}/#blog" title="Назад">
					<svg id="back-icon"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
						<path fill="currentColor" d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z"/>
					</svg>
				</a>
			  </div>

		</main>

		{% include footer.html %}

        </body>
    </html>