---
---

<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		
		<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/post.css">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/post-768px.css" media="screen and (min-width:768px)">

		<title>{{ page.title }}</title>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Smooth Scrolling -->
		<script>
		$(document).on('click', 'a[href^="#"]', function (event) {
			event.preventDefault();
			
			$('html, body').animate({
				scrollTop: $($.attr(this, 'href')).offset().top
			}, 500);
		});
		</script>

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">

	</head>
	<body>
		
		{% include header.html %}

		{% include home.html %}

		<main>

			<div id="post">
				<h1 id="post-title">{{ page.title }}</h1>
				
				<div id="post-date">
					<p>{{ page.date | date: "%-d.%m.%Y" }}</p>
				</div>
				
				<div id="post-content">
					{{ content }}
				</div>
			</div>

		</main>

		{% include footer.html %}

        </body>
    </html>